{% extends 'base.html.twig' %}

{% block title %}Nueva Producto{% endblock %}

{% block body %}

<h5 class="card-header bg-secondary text-light" ><i class="fa fa-plus"></i>
    Nuevo Producto </h5>
<hr/>
    {{ include('producto/_form.html.twig') }}
<hr/>
<ul>
    <li style="display: inline-flex">
        <a href="{{ path('app_producto_index') }}" class="btn btn-outline-info btn-back" data-toggle="tooltip" data-placement="top"
           title="Volver"
        ><i class="fa fa-arrow-left"></i></a>
    </li>
</ul>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('edit_product') }}
{% endblock %}