
html, body {
    height: 100%;
}

body {
    background-color: lightgray;
}
section {
    /*
    padding: 20px 0;
    */
}

footer {

}

thead {

}

label {
    font-weight: bold;
}

.label_required_item {
    color: red;
}

#base {
    min-height: 100%;
    overflow: auto;
    background-color: #eee;
}

.btn-new{

}

.btn-edit{

}

.btn-show{

}

.btn-delete{

}

.btn-back{

}

#cabecera {

}

#menu {

}

#intro {
    padding: 100px 0;
    margin-top: -33px;
}

#pie {
    position: relative;
    clear: both;
    margin-top: -60px;
    height: 60px;
}

#logo {
    height: 30px;
    margin-right: 20px;
}

#carrusel {
    margin-top: -14px !important;
}

.minimo {
    width: 10px !important;
}

.combo {
    border: solid 1px #ccc;
}

a.ancla {
    position: absolute;
    left: 0px;
    top: -80px;
}